/* About.css */

.aboutp {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  flex-direction: column;
  background-color: rgb(30, 30, 30);
  margin: 0rem;
  overflow: hidden;
}
.headd{
  align-self: flex-start;
  color:white;
  width: 100%;
  user-select: none;
  height: fit-content;
  margin-left: 5vh;
  margin-top: -20vh;
}
.stylo{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  background-color: antiquewhite;
}
.ktitle {
  display: flex;
  align-self: flex-start;
  color:white;
  width: 100%;
  align-items: center;
  position: inherit;
  justify-content: flex-start;  
  margin: 5vh;
  margin-bottom: 100px;
  flex-direction: row;
}
#image-track {
  margin-top: 30vh;
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 25%;
  top: 50%;
  transform: translate(0%, -50%);
  user-select: none;
}

#image-track > .image {
  width: 50vmin;
  height: 56vmin;
  object-fit: cover;
  border-radius: 0;
  object-position: 100% center;
  transition: transform 0.3s ease;
}

#image-track > .image.active {
  transform: scale(1.2);
}

#image-track > .image.inactive {
  transform: scale(0.8);
}

.icons {
  padding-top: 23vh;
  padding-bottom: 30vh;
  width: 100%;
  text-align: center;
  position: sticky;
  left: 50%;
  user-select: none;
  color: white;
}
