.carproductpage {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    user-select: none;
}

.prodinfoo {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 10vh;
    gap: 20px;
}

.lkj {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.leftrowp {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    height: 100%;
}

.leftrowp img {
    width: 178px;
    height: 138px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}

.mainImage {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 5px;
}

.pdesc {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    margin-top: -200px;
}

.pdesc h1 {
    text-align: left;
    width: 80%;
}

.pdesc p {
    width: 80%;
    align-self: center;
    text-align: left;
    opacity: 0.5;
    margin-top: 50px;
}

.ratqty {
    width: 80%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 50%;
}

.ratqty img {
    width: 20px;
    height: 20px;
}
.addpbtn{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
}
button:focus,
input:focus{
  outline: none;
  box-shadow: none;
}
a,
a:hover{
  text-decoration: none;
}

/*--------------------------*/
.qty-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1px;
  /* border: 1px solid white; */
  background-color: white;
  border-radius: 4px;
}
.qty-container .input-qty{
  text-align: center;
  padding: 6px 10px;
  background-color: black;
  color: white;
  font-size: 20px;
  border: 1px solid #d4d4d4;
  max-width: 80px;
  height: 24px;
}
.qty-container .qty-btn-minus,
.qty-container .qty-btn-plus{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  border: 1px solid #d4d4d4;
  padding: 10px 13px;
  font-size: 10px;
  height: 38px;
  width: 38px;
  transition: 0.3s;
  background-color: #DB4444;
}
.qty-container .qty-btn-plus{
  margin-left: -1px;
}
.qty-container .qty-btn-minus{
  margin-right: -1px;
}


/*---------------------------*/
.btn-cornered,
.input-cornered{
  border-radius: 4px;
}
.btn-rounded{
  border-radius: 50%;
  background-color: #DB4444;
}
.input-rounded{
  border-radius: 50px;
}
.boxx{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 5px;
}

.gameinfo {
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 70px;
    width: 70%;
    padding: 5%;
    margin: auto; /* Center the grid within its container */
    margin-top: 10vh;
  }
  
  
  .kll {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: #fff;
  }
  
  .detol {
    width: 351px;
    height: 112px;
    display: flex;
    color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(90deg, #0B020E, #042435);

    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    
  }
  .detol:hover{
    box-shadow: 15px 15px 30px rgb(138, 138, 138),
    -15px -15px 30px rgb(153, 151, 151);
  }
  
  .detol img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  
  .bar {
    display: flex;
    margin-left: 10px;
  }
  
  .rect {
    width: 10px;
    height: 10px;
    background-color: #555;
    margin-right: 2px;
    border-radius: 2px;
  }
  
  .rect.filled {
    background-color: #fff;
  }
.endf{
    margin-top: 20vh;
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}
.banne{
    width:1.5%;
    border-radius: 5px;
    background-color: #d32f2f;
    margin-right: 5vw;
}
.related-products-container{
    display: grid;
    grid-template-columns: repeat(4, 0fr); /* 4 columns */
    gap: 50px; /* Space between items */
    width: 100%;
    justify-content: center;
    margin-bottom: 10vh;
}
/* Media Query for Responsive Design */
@media (max-width: 768px) {
    .prodinfoo {
        flex-direction: column;
        align-items: center;
        width: 85vw;
        margin-top: 5vh;
    }

    .leftrowp {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    width: 80%;
    height: 100%;
    }

    .leftrowp img {
        width: 90px;
        height: 90px;
    }

    .mainImage {
        height: 300px;
    }

    .pdesc {
        margin-top: 0;
    }

    .pdesc h1 {
        font-size: 1.5em;
        width: 90%;
    }

    .pdesc p {
        font-size: 1em;
        width: 90%;
    }

    .ratqty {
        width: 90%;
        gap: 50%;
    }
    .addpbtn{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
        gap:10px;
        width: 90%;
    }
    .gameinfo{
        display: flex;
        align-items: center;
        justify-items: center;
        flex-direction: column;
    }
}
