.cartpage {
    width: 100%;
    background-image: url('./../images/cartbg.jpg');
    background-size: cover; /* Ensure the background image covers the entire container */
    background-position: center;
    /* background-color: rgba(77,8,91,0.7); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Arial, sans-serif;
  }
  
  .cart-items {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .superman {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10vh;
    width: 10%;
    margin-bottom: 5vh;
    font-size: 2rem;
    color: #ffffff;
  }
  .cart-header, .cart-item {
    display: flex;
    color: #fff;
    align-items: center;
    width: 90%;
    padding: 10px;
    background: rgba(72, 8, 8, 0.15);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    /* color: #000000; */
  }
  
  .cart-header {
    width: 92%;
    align-items: flex-end;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 18px;
    padding: 20px 0;
    /* color: #333; */
    color: #fff;
  }
  
  .cart-header div, .cart-item div {
    flex: 1;
    text-align: center;
  }
  
  .cart-item .item-details {
    display: flex;
    width: fit-content;
    align-items: center;
    flex: 1.22;
  }
  .cart-item .item-details {
    display: flex;
    width: fit-content;
    align-items: center;
    flex: 1;
  }
  .cart-item:hover{
    transform: scale(1.05);
  }
  .cart-item img {
    width: 100px;
    object-fit: cover;
    height: auto;
    margin-right: 10px;
    border-radius: 10px;
  }
  
  .cart-actions {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 20px;
  }
  
  .cart-actions button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cart-actions button:hover {
    background-color: #0056b3;
  }
  
  .coupon-section {
    display: flex;
    width: 80%;
    margin-top: 20px;
  }
  
  .coupon-section input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .coupon-section button {
    padding: 10px 20px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .coupon-section button:hover {
    background-color: #218838;
  }
  
  .cart-total {
    width: 80%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 20px;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    color: #fcfcfc;
    margin-bottom: 5vh;
  }
  
  .cart-total h3 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #fcfcfc;
  }
  
  .cart-total div {
    margin-bottom: 10px;
  }
  
  .cart-total button {
    width: 100%;
    padding: 15px;
    background-color: rgb(220, 195, 56);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease;
  }
  
  .cart-total button:hover {
    background-color: rgb(154, 120, 7);
  }
